<!DOCTYPE html>
<html>
<head>
	<title>Finatra</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
</head>
<body>	
	<h1><a href="/">Finatra</a></h1>
<body class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Finatra</a>
			</div>
		</div>
	</nav>
<%= yield %>
</body>
</html>